.left-td {
	text-align: right;
}

.right-td {
	text-align: left;
}

.left-td,.right-td {
	padding: 3px;
	width: 50%;
}

.auth-error-msg {
	text-align: center;
	color: red;
}

.fileid-td {
	text-align: left;
	padding-left: 3px;
}

.logout-td {
	text-align: right;
}

.tabs {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.tab {
	border-color: gray;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	display: inline-block;
	padding-left: 2px;
	width: 100px;
}

.logout-td {
	text-align: right;
	padding-right: 3px;
	font-size: 12px;
}

.top-table {
	margin: 3px;
}

.file-id {
	width: 300px;
}

.list-files-control-td {
	width: 150px;
}

.control-input {
	display: block;
	width: 100%;
}

.selected {
	background-color: yellow;
	margin-right: 5px;
}

.selected-tab {
	background-color: gray;
	color: white;
}

.tab,.file,.dir {
	cursor: pointer;
}

.dir {
	list-style-image: url('./img/directory.png');
}

.file {
	list-style-image: url('./img/file.png');
}

.editable {
	border: 1px solid gray;
	cursor: text;
}

.dir-choicer-root-div {
	position: absolute;
	left: 10px;
	top: 10px;
	right: 10px;
	bottom: 35px;
	border: 1px solid black;
	background: white;
}

.div-choicer-button-ok,.div-choicer-button-cancel {
	width: 50%;
	height: 25px;
}

.div-choicer-button-block {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.div-choicer-title-div {
	font-size: 14px;
	padding: 2px;
}

.files-tree {
	height: 504px;
	margin-bottom: 5px;
	overflow: auto;
	border: 1px inset #DCDCDC;
}

.status-panel {
	height: 20px;
	border: 1px inset #DCDCDC;
	font-size: 14px;
}

.upload-file-block {
	height: 530px;
}

.status-err {
	color: red;
}

.status-war {
	color: yellow;
}

.status-inf {
	color: black;
}

.status-scs {
	color: green;
}

.embed-dialog-root-div {
	position: absolute;
	left: 100px;
	top: 100px;
	right: 100px;
	bottom: 165px;
	border: 1px solid black;
	background: white;
	z-index: 5;
}

.embed-dialog-button-block {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.embed-dialog-button-ok,.embed-dialog-button-cancel {
	width: 50%;
	height: 25px;
}

.embed-dialog-content-div {
	padding: 10px;
}

.embed-dialog-item {
	display: block;
	width: 100%;
}

.embed-dialog-width, .embed-dialog-height {
	width: 50px;
	margin-right: 2px;
}

.embed-dialog-textarea {
	width: 100%;
	height: 150px;
}

.default-text {
	color: black;
}

.default-text-active {
	color: #a1a1a1; font-style: italic;
}

.in-progress-div {
	position: absolute;
	z-index: 3;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity:0.5;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	background-color:#000000;
}

.in-progress-vertical {
	width: 100%;
	position: absolute;
	height: 50%;
	top: 50%;
}

.in-progress-horizontal {
	position: absolute;
	width: 50%;
	left: 50%;
}

.in-progress-image {
	margin-left: -50px;
	margin-top: -50px;
}
